<div class= "Every Single Listing">

  {{#users}}

  <div class="All Listings">
    <img src={{avatar}}>

    {{address.country}}
    {{address.city}}
    {{job}}
    {{university}}
    {{email}}
  </div>

  {{/users}}
</div>
