!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    {{#users}}
    {{avatar}}
    {{address}}
    {{job}}
    {{university}}
    {{email}}
    {{/users}}


  </body>
</html>
