!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <ul>
    <li>{{#users}}
    {{avatar}}
    {{address}}
    {{job}}
    {{university}}
    {{email}}
    {{/users}}</li>


  </body>
</html>
