<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/update_profile">Update Profile</a>
    <div class="Update_This_Profile"></div>
    <a href="/login">Log Out</a>
    <h3><a href="/employed">Currently Employed</a></h3>
    <h3><a href="/looking">Currently Not Employed</a></h3>
   <div class= "container">
    {{{yield}}}
  </div>
  </body>
</html>
