  {{#users}}
  <div class="robotContainer">

      <h4>{{name}}</h4>
<img src={{avatar}}>
    <h4>{{address}}<h4>
    <h4>{{job}}<h4>
    <h4>{{university}}<h4>
    <h4>{{email}}<h4>
    <h4>{{skills}}<h4>

    <h4>{{job}}<h4>

  </div>
  {{/users}}
