<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    {{#users}}
    <ul>
      <li>{{avatar}}
      {{address}}
      {{job}}
      {{university}}
      {{email}}</li>
    </ul>
    {{/users}}


  </body>
</html>
