<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <div class= "Unemployed_profile">

    {{#users}}

    <div class="profilactic">
      <img src={{avatar}}>
      
      {{address.country}}
      {{address.city}}
      {{job}}
      {{university}}
      {{email}}
    </div>

    {{/users}}
  </div>

  </body>
</html>
