<!DOCTYPE html> //this page renders a specific profile page//
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
  </head>
  <body>
    <p>{{username}}</p>
    <p>{{name}}</p>
    <p>{{phone}}</p>

    {{#skills}}
    {{.}}
    {{/skills}}

  </body>
</html>
