
  <div class="">


      <h2>Index</h2>
        <a class ="user" href="/user/{{id}}">
          {{#users}}
          <img src={{avatar}}>
          {{address}}
          {{job}}
          {{university}}
          {{email}}
          {{skills}}

          {{job}}
          {{/users}}
        </a>
    </body>
   </html>

</div>
