<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title></title>
  </head>
  <body>
    <h1>Index</h1>
      <a href="/listing/{{id}}">
        {{#users}}
        {{address}}
        {{job}}
        {{university}}
        {{email}}
        {{skills}}
        <img src={{avatar}}>
        {{job}}
        {{/users}}
      </a>
  </body>
</html>
