 .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.robotContainer {
  border: 2px solid black;
  justify-content: center;
}

.Unemplyed_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
