 .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.robotContainer {
  font-weight: bold;

  width: 20%;
  border: 2px solid black;
  justify-content: center;
}

.Unemployed_profile {
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Employed_profile {
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profilactic {
  font-weight: bold;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.updateicus {
  color: red;
  display: flex;
  flex-direction: column;
}

.Update_This_Profile {
  justify-content: flex-end;
  color: blue;
}

.Top_line {
  display: flex;
  justify-content: space-around;
  height: 100px;
}
