 .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.robotContainer {
  border: 2px solid black;
  justify-content: center;
}

.Unemployed_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Employed_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profilactic {
  width: 25%;

}
